<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" th:href="@{/statics/css/lib.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/statics/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/statics/css/1362.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script type="text/javascript" th:src="@{/statics/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/statics/js/org1480746227.js}" data-main="baseMain"></script>
    <title>显卡售后系统</title>
</head>

<body>
<div id="header" class="index_nav">
    <div class="content">
        <a href="index.html" id="logo"><img th:src="@{/statics/images/1482810077929.png}" height="40"/></a>
        <ul id="nav">
            <li class="navitem">
                <a class="nav-a " th:href="@{'/web/index.html'}" target="_self"><span data-title="首页">首页</span></a>
            </li>
            <li class="navitem">
                <a class="nav-a " th:href="@{'/web/product.html?pageNo=1&type=-1'}" target="_self"><span data-title="产品展示">产品展示</span></a>
            </li>
<!--            <li class="navitem">-->
<!--                <a class="nav-a " th:href="@{'/web/team.html'}" target="_self"><span data-title="我们团队">我们团队</span></a>-->
<!--            </li>-->
            <li class="navitem">
                <a class="nav-a " th:href="@{'/web/news.html/1'}" target="_self"><span data-title="资讯中心">资讯中心</span></a>
            </li>
<!--            <li class="navitem">-->
<!--                <a class="nav-a " th:href="@{'/web/contact.html'}" target="_self"><span data-title="联系我们">联系我们</span></a>-->
<!--            </li>-->
            <li class="navitem">
                <a class="nav-a " target="_blank"><span data-title="登录">登录</span></a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a>
</div>
<div id="sitecontent">
    <div class="npagePage Pageyemian" id="page_none">
        <div id="banner">
            <div th:style="'background:url(' + @{/statics/images/1482746806776.jpg} + ');'"></div>
        </div>
        <div class="content">
            <div class="header">
                <p class="title">关于我们</p>
                <p class="subtitle">ABOUT US</p>
            </div>
            <div class="fw postbody">
                <p style="text-align: center; font-size:26px;"><span style="font-size: 13px;">We&#39;ve been crafting beautiful websites, launching stunning brands and making clients happy for years.</span><span
                        style="font-size: 13px;">Quisque euismod lobortis aliquam.</span></p>
                <p style="text-align: center;">orci ut et lobortis aliquam. Aliquam in tortor enim.Aliquam in tortor
                    enim.</p>
                <p class="ordinary-output target-output"
                   style="margin-top: 0px; margin-bottom: 0px; padding: 0px; white-space: normal; text-align: center;">
                    <img th:src="@{/statics/images/146700459479.jpg}" title="undefined" alt="undefined" width="1000" vspace="0"
                         border="0" height=""/></p>
                <p style="border-top:1px dotted  #e3e3e3; margin-top:10px; margin-bottom:10px;"><br/></p>
                <table style="width: 1161px;">
                    <tbody>
                    <tr class="firstRow"></tr>
                    </tbody>
                </table>
                <p class="ordinary-output target-output" style="text-align: center;"><span
                        style="color: rgb(38, 38, 38);"><strong><span style="font-size: 16px;"><br/></span></strong>
							</span>
                </p>
                <p class="ordinary-output target-output" style="text-align: center;"><span
                        style="color: rgb(127, 127, 127);"><span
                        style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong><span
                        style="font-size: 24px;">WEB</span></strong>
							</span><span style="font-family: &#39;times new roman&#39;;"><strong><span
                        style="font-size: 24px;">只为更好的/<span
                        style="font-size: 24px; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">THE SUSPENDER/BRACELET</span></span>
							</strong>
							</span>
							</span><br/></p>
                <p class="ordinary-output target-output" style="text-align: center;"><span class=""><br/></span></p>
                <p><br/></p>
                <p style="text-align: center;">We&#39;ve been crafting beautiful websites, launching stunning brands and
                    making clients happy for years.<br/></p>
                <p style="text-align: center;">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies
                    magna et. Quisque euismod lobortis aliquam. Aliquam in tortor enim.&nbsp;</p>
                <p style="text-align: center;">orci ut et lobortis aliquam. Aliquam in tortor enim.</p>
                <table style="width: 1161px;">
                    <tbody>
                    <tr class="firstRow"></tr>
                    </tbody>
                </table>
                <table width="1161" border="0" height="22">
                    <tbody>
                    <tr class="firstRow"></tr>
                    </tbody>
                </table>
                <table style="width: 1161px;" width="412" border="0">
                    <tbody>
                    <tr class="firstRow"></tr>
                    </tbody>
                </table>
                <hr/>
                <table style="width: 1163px;">
                    <tbody>
                    <tr class="firstRow">
                        <td style="word-break: break-all;" width="360" valign="top">
                            <p>
                                <a href="statics/images/1477632494602.html" target="_self" title="查看大图"><img
                                        th:src="@{/statics/images/148254781065.jpg}"/></a>
                            </p>
                            <p><br/></p>
                            <p>Nullam ornare, sem in malesuada sagittis, quam sapien ornare massa sem in ...</p>
                            <p><br/></p>
                        </td>
                        <td width="1" valign="top" style="word-break: break-all;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        </td>
                        <td style="word-break: break-all;" width="360" valign="top">
                            <p><img th:src="@{/statics/images/1482548370361.jpg}"/></p>
                            <p><br/></p>
                            <p>Praesent sit amet erat sapien, auctor consectetur ligula. Lorem ipsum dolor auctor
                                consect ...&nbsp;</p>
                            <p><br/></p>
                        </td>
                        <td width="1" valign="top" style="word-break: break-all;">&nbsp; &nbsp;</td>
                        <td style="word-break: break-all;" width="360" valign="top">
                            <p><img th:src="@{/statics/images/1482548630769.jpg}"/></p>
                            <p><br/></p>
                            <p>Phasellus enim libero, blandit vel are sapien vitae, condimentum ultricies et condimentum
                                ...</p>
                            <p><br/></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p><br/></p>
            </div>
            <div id="pages"></div>
        </div>
    </div>
</div>
<div id="footer">
    <p>
        COPYRIGHT (©) 2020 显卡售后服务
        <a href="http://www.beian.gov.cn/portal/index.do" style="width: 300px;margin-top: 0;margin-left: 50px"><img th:src="@{/statics/images/kimo.png}" style="margin-top: 10px"/>&nbsp;粤ICP备2021090004号-1</a>
    </p>
</div>
<div id="shares">
    <a id="sshare"><i class="fa fa-share-alt"></i></a>
    <a href="#" target="_self" id="sweibo"><i class="fa fa-weibo"></i></a>
    <a href="javascript:;" id="sweixin"><i class="fa fa-weixin"></i></a>
    <a href="javascript:;" id="gotop"><i class="fa fa-angle-up"></i></a>
</div>
<div class="fixed" id="fixed_weixin">
    <div class="fixed-container">
        <div id="qrcode"></div>
        <p>扫描二维码分享到微信</p>
    </div>
</div>
<div id="online_open"><i class="fa fa-comments-o"></i></div>
<div id="online_lx">
    <div id="olx_head">在线咨询<i class="fa fa-times fr" id="online_close"></i></div>
    <ul id="olx_qq">
        <li>
            <a href="tencent://message/?uin=XXX&Site=wangdahai&Menu=yes"><i class="fa fa-qq"></i>XXX</a>
        </li>
    </ul>
    <div id="olx_tel">
        <div><i class="fa fa-phone"></i>联系电话</div>
        <p>XXX<br/></p>
    </div>
</div>
<div class="hide">
</div>
</body>


</html>